  <div ng-controller="SystemManagerController">
  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/sysman/index" class="logo"><b>CUPCAKE</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">0</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                          <!--    <div class="notify-arrow notify-arrow-green"></div> -->
                           
                            
                        </ul>
                    </li>
                   
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" ng-click="logout()" href="/#/">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{{sm.firstName}} {{sm.lastName}}</h5>
              	  	
                  <li class="mt" ng-click="changeToProfile()">
                      <a class="active">
                          <i class="fa fa-pencil"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-user"></i>
                          <span  ng-click="changeToManager()">Managers</span>
                          </a>
                          <ul class="sub">
                          	<li><a ng-click="changeToCreateManager()">New manager</a></li>
                          
                      	   </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cutlery"></i>
                          <span ng-click="changeToRestaurants()">Restaurants</span>
                          </a>
                          <ul class="sub">
                          	<li><a ng-click="changeToCreateRestaurant()">New restaurant</a></li>                          
                      	   </ul>
                      
                  </li>
                  
                   <li class="sub-menu"  ng-click="changeToUsers()">
                      <a href="javascript:;" >
                          <i class="fa fa-users"></i>
                          <span>Users</span>
                      </a>
                  </li>
               
               

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="col">
                  <div class="col-lg-9 bc" ng-switch="page">
					<div ng-switch-when="profile">
						<div class="row mt">
							<div class="col-lg-12">
								<div class="form-panel" style="width: 90%; margin-left: 5%;" >
									<h4 class="mb"><i class="fa fa-angle-right"></i> Profile </h4>
									<hr>
										<form class="form-horizontal style-form" name="myForm">
											<div class="form-group">
												<label class="col-sm-2 col-sm-2 control-label">Email</label>
												<div class="col-sm-10">
													<input type="email" class="form-control" ng-model="sm.email" name="mail" required>
														<div class="has-error" ng-show="myForm.mail.$dirty">
															<span ng-show="myForm.mail.$error.required">This is a required field.</span>
															<span ng-show="myForm.mail.$invalid">This field is invalid </span>		
														</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 col-sm-2 control-label">First Name</label>
												<div class="col-sm-10">
													<input type="text" ng-model="sm.firstName" class="form-control" placeholder="Enter your First Name" required="required" name=“firstName”>
												</div>
												<br>
												<br>
												<br>
												<label class="col-sm-2 col-sm-2 control-label">Last Name</label>						
												<div class="col-sm-10">
													<input type="text" ng-model="sm.lastName" class="form-control" placeholder="Enter your First Name" required="required" name=“firstName”>
												</div>
											</div>
											<div class="form-group">
												<a class="col-sm-10"   ng-click="changeToChangePassword()">
								                    	Change password
								                		</a>
																
											</div>
											<div class="form-group">
												<label class="col-sm-2 col-sm-2 control-label">&nbsp;</label>
												<div class="col-sm-10">
													<button class="btn btn-theme" style="float: right; margin-right:5%;" ng-click="update()"  ng-disabled="myForm.$invalid" type="button">Save</button>						
												</div>
											</div>
										</form>
								</div>
							</div><!-- col-lg-12-->      	
						</div>
											
		           	</div>
						
					
					<div ng-switch-when="manager">
						<div class="col-md-12">
			                      <div class="content-panel" style="padding:2%; " >
			                      		<table class="table table-striped table-advance table-hover" style="width:95%;">
				                  	  	  <h4><i class="fa fa-angle-right"></i> Managers</h4>			                     
			                         	 <hr>
			                              <thead>
			                              <tr>
			                                  <th>Email</th>
					                     		<th>Password</th>
					                     		<th>First name</th>
					                     		<th>Last name</th>
					                     		<th>Active</th>
			           
			                              </tr>
			                              </thead>
			                              <tbody>
			                    
			                              <tr ng-repeat="m in managers" >
			                                  <td >{{m.email}}</td>
											<td >{{m.password}}</td>
											<td >{{m.firstName}}</td>
											<td >{{m.lastName}}</td>
											<td >
										<span class="label label-success label-mini" ng-show="m.active">Yes</span>
			                                  		<span class="label label-warning label-mini" ng-hide="m.active">No</span>

										</td>
			                              </tr>
			                             
			                                </tbody>
			                          </table>
			                          
			                          <a class="" ng-click="changeToCreateManager()">
		                    			Create a new manager
		                				</a>
			                          
			                      </div><!-- /content-panel -->
			                  </div><!-- /col-md-12 -->
						
		           	</div>
		           	<div ng-switch-when="new_manager" ng-controller="SystemManagerController">
                     	<div class="row mt">
							<div  class="col-lg-12">
								<div class="form-panel" style="width: 90%; margin-left: 5%;">
									<h4 class="mb"><i class="fa fa-angle-right"></i> Creating new manager </h4>
									<hr>
									<form class="form-horizontal style-form" name="myForm">
									<div class="form-group">
										<label class="col-sm-2 col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
											<input type="email" class="form-control" ng-model="new_man.email" name="mail" required>
											<div class="has-error" ng-show="myForm.mail.$dirty">
												<span ng-show="myForm.mail.$error.required">This is a required field.</span>
												<span ng-show="myForm.mail.$invalid">This field is invalid </span>					</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 col-sm-2 control-label">First Name</label>
										<div class="col-sm-10">
											<input type="text" ng-model="new_man.firstName" class="form-control"  name=“firstName”>
										</div>
										<br>
										<br>
										<br>
										<label class="col-sm-2 col-sm-2 control-label">Last Name</label>						<div class="col-sm-10">												<input type="text" ng-model="new_man.lastName" class="form-control" name=“firstName”>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 col-sm-2 control-label">&nbsp;</label>
										<div class="col-sm-10">
											<button class="btn btn-theme" type="button" ng-disabled="myForm.$invalid || myForm.mail.$pristine"  style="float: right; margin-right:5%;" ng-click="new_manager()">Create new manager</button>			
										</div>
									</div>
									</form>
								</div>
							</div><!-- col-lg-12-->      	
						</div>
		           	</div>	
					<div ng-switch-when="restaurant">
						<div class="col-md-12">
			                      <div class="content-panel" style="padding:2%;" >
			                      		<table class="table table-striped table-advance table-hover"  style="width:95%;">
				                  	  	  <h4><i class="fa fa-angle-right"></i> Restaurants</h4>			                      <br>
			                      
				                  	  	  <hr>
			                              <thead>
			                              <tr>
			                                 <th>Name</th>
	                     					<th>Location</th>
	                     					<th>Managers</th>
	                     				<th>&nbsp;</th>
			           
			                              </tr>
			                              </thead>
			                              <tbody >
			                    
			                              <tr ng-repeat="r in restaurants">
			                                 
									<td >{{r.name}}</td>
									<td >{{r.location}}</td>
									
									
									<td >{{r.manager[0].firstName}} {{r.manager[0].lastName}}</td>
									<td><i class="fa fa-plus"></i> </td>
									
			          
			                              </tr>
			                             
			                                			                              </tbody>
			                          </table>
			                          
			                         <a class="" ng-click="changeToCreateRestaurant()">
		                    	Create a new restaurant
		                </a>
			                          
			                      </div><!-- /content-panel -->
			                  </div><!-- /col-md-12 -->
		           	</div>
		           		<div ng-switch-when="new_restaurant"  ng-controller="SystemManagerController">
                     		<div class="row mt">
								<div  class="col-lg-12">
									<div  style="width: 90%; margin-left: 5%;" class="form-panel">
										<h4 class="mb"><i class="fa fa-angle-right"></i> Creating a new restaurant </h4>
										<hr>
										<form class="form-horizontal style-form" name="myForm">
										<div class="form-group">
											<label class="col-sm-2 col-sm-2 control-label">Name</label>
											<div class="col-sm-10">
												<input type="text" name="name" ng-model="new_rest.name" class="form-control" required autofocus>
												<div class="has-error" ng-show="myForm.name.$dirty">
													<span ng-show="myForm.name.$error.required">This is a required field.</span>
											</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 col-sm-2 control-label">Location</label>
											<div class="col-sm-10">
												
							<div class='container-fluid' style="width:106%; margin-left:-3%;">
											            
																            <div 
																                angular-google-maps-geocoder placeid="{{ my_place_id }}"
																                output="out"
																                placeholder="Placeholder goes here..."
																                min-length="3"
																                wait-ms="100">
																            </div>
											            
											        
											        </div></div>
											        <br>
											<br>
											<br>
											       <div style="height:40%; width: 90%; float:center; margin-left:5%;" > 
											        <ng-map center={{string}} zoom="5">
																	    <marker position={{string}} title="Hello World!"></marker>
																	  </ng-map>
																	  </div>
											<br>
											<label class="col-sm-2 col-sm-2 control-label">Type</label>						<div class="col-sm-10">	
																						<input type="text" ng-model="new_rest.species" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 col-sm-2 control-label">Manager</label>
											<div class="col-sm-10">
												<select class="form-control"  ng-model="new_rest_manager" ng-options=" (m.firstName+ ' '+ m.lastName)  for m in man_without_rest">
																			
									      										<option value="">-- choose manager --</option>
																			</select>
												
											</div>
										</div>
							
										<div class="form-group">
											<label class="col-sm-2 col-sm-2 control-label">&nbsp;</label>
											<div class="col-sm-10">
												<button class="btn btn-theme" type="button" ng-disabled="myForm.$invalid || myForm.name.$pristine" style="float: right; margin-right:5%;" ng-click="new_restaurant()">Create</button>			
											</div>
										</div>
										<!-- <ng-map center="45.2671352,19.83354959999997" zoom="5"> -->
															
							
										</form>
									</div>
								</div><!-- col-lg-12-->      	
							</div>
							
		           	</div>
                     <div ng-switch-when="users">
                     	<div class="col-md-12">
			                      <div class="content-panel" style="padding:2%; " >
			                          <table class="table table-striped table-advance table-hover" style="width:95%;">
				                  	  	  <h4><i class="fa fa-angle-right"></i> Users</h4>
				                  	  	  <hr>
			                              <thead>
			                              <tr>
			                                  <th>Email</th>
	                     		<th>Password</th>
	                     		<th>Type</th>
			           
			                              </tr>
			                              </thead>
			                              <tbody >
			                    
			                              <tr ng-repeat="u in users">
									<td>{{u.email}}</td>
									<td>{{u.password}}</td>
									<td ng-switch="u.type">
						         		<a ng-switch-when="SYS_MAN"  class="label label-warning">System manager</a>
					                    <a ng-switch-when="MANAGER" class="label label-success">Manager</a>
					                    <a ng-switch-when="EMPLOYEE"  class="label label-error">Employee</a>
					                    <a ng-switch-when="SUPPLIER"  class="label label-info">Supplier</a>
						         		<a ng-switch-when="GUEST"  class="label label-primary">Guest</a>
				         			</td>
							</tr>			                             
			                                  			                            
			                              </tbody>
			                          </table>
			                           <a class="" ng-click="changeToCreateSysman()">
						                   	 New system manager
						                </a> 
			                         </div><!-- /content-panel -->
			                  </div><!-- /col-md-12 -->
						
						<br> <br>
							
		           	</div>
		           	<div ng-switch-when="new_sysman" ng-controller="SystemManagerController">
                     	<div class="row mt">
							<div  class="col-lg-12">
								<div  style="width: 90%; margin-left: 5%;" class="form-panel">
									<h4 class="mb"><i class="fa fa-angle-right"></i> Creating new system manager </h4>
									<hr>
									<form class="form-horizontal style-form" name="myForm">
									<div class="form-group">
										<label class="col-sm-2 col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
											<input type="email" class="form-control" ng-model="new_sysman.email" name="mail" required>
											<div class="has-error" ng-show="myForm.mail.$dirty">
												<span ng-show="myForm.mail.$error.required">This is a required field.</span>
												<span ng-show="myForm.mail.$invalid">This field is invalid </span>					</div>
										</div>
										<br>
										<br>
										<br>
										<label class="col-sm-2 col-sm-2 control-label">Password</label>
										<div class="col-sm-10">
											<input type="password" name="pass" ng-model="new_sysman.password" class="form-control" required >					
											<div class="has-error" ng-show="myForm.pass.$dirty">	
																	<span ng-show="myForm.pass.$error.required">This is a required field.</span>
																</div>				</div>
						
									</div>
									<div class="form-group">
										<label class="col-sm-2 col-sm-2 control-label">First Name</label>
										<div class="col-sm-10">
											<input type="text" ng-model="new_sysman.firstName" class="form-control"  name=“firstName”>
										</div>
										<br>
										<br>
										<br>
										<label class="col-sm-2 col-sm-2 control-label">Last Name</label>						<div class="col-sm-10">												<input type="text" ng-model="new_sysman.lastName" class="form-control" name=“firstName”>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 col-sm-2 control-label">&nbsp;</label>
										<div class="col-sm-10">
											<button class="btn btn-theme" type="button" ng-disabled="myForm.$invalid || myForm.mail.$pristine" style="float: right; margin-right:5%;" ng-click="new_sysmanager()">Create new system manager</button>			
										</div>
									</div>
									</form>
								</div>
							</div><!-- col-lg-12-->      	
						</div>
		           	</div>	
					  <div ng-switch-when="new_pass" ng-controller="SystemManagerController">
							<div class="row mt">
								<div  class="col-lg-12">
									<div  style="width: 90%; margin-left: 5%;" class="form-panel">
										<h4 class="mb"><i class="fa fa-angle-right"></i> Change password </h4>
										<hr>
												<form class="form-horizontal style-form" name="myForm">
									   <div class='form-group'>
										<input style="width: 90%; margin-left: 5%;" type="password" name="pass" placeholder="Password" class="form-control" ng-model="pw1" required autofocus>
										<div class="has-error" ng-show="myForm.pass.$dirty">	
											<span ng-show="myForm.pass.$error.required">This is a required field.</span>
										</div>
										<br>
										<input style="width: 90%; margin-left: 5%;" type="password" placeholder="Password again" ng-model="pw2" class="form-control" >
										</div>
										<div class='form-group'>
								
										<button class="btn btn-theme" type="button" style="float: right; margin-right:5%;" ng-disabled="myForm.$invalid || myForm.pass.$pristine" ng-click="changePass()">Save</button>
										</div>
									</form>
			           			</div>				
							</div>		
						</div>	
					</div>
					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                    
  
          </section>
      </section>

    
  </section>

</div>
