  <div ng-controller="SupplierController">
  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>CUPCAKE</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">0</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                          <!--    <div class="notify-arrow notify-arrow-green"></div> -->
                           
                            
                        </ul>
                    </li>
                   
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" ng-click="logout()" href="#/">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{{supplier.email}}</h5>
              	  
              	  	
                  <li class="mt" ng-click="changeToProfile()">
                      <a class="active">
                          <i class="fa fa-pencil"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  
                  <li class="sub-menu" ng-click="changeToRestaurants()">
                      <a href="javascript:;" >
                          <i class="fa fa-cutlery"></i>
                          <span>Restaurants</span>
                          </a>         
                  </li>
                  <li class="sub-menu" ng-click="changeToRestaurants()">
                      <a href="javascript:;" >
                          <i class="fa fa-cutlery"></i>
                          <span>Orders</span>
                          </a>         
                  </li>
                   
               
               

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="col">
                  <div class="col-lg-9 bc" ng-switch="page">
                  {{page}}
         
	                  <div ng-switch-when="non-active" ng-controller="SupplierController">
							<h3>Change password</h3>
							<input type="password" placeholder="Password" class="form-control" ng-model="pw1" autofocus>
							<br>
							<input type="password" placeholder="Password again" ng-model="pw2" class="form-control" >
							<br>
							<br>
							<button class="btn btn-theme" type="button" ng-click="changePass()">Save</button>
			           	</div>
			           	<div ng-switch-when="restaurant">
							<h3>Restaurants</h3>
			           	</div>
			           	<div ng-switch-when="profile">
							<h3>Profile</h3>
							<table  class="prof">
								<tr>
				        			<td>Email:</td>
				           			<td><input type="text" class="form-control" ng-model="supplier.email"></td>
				           		</tr> 
				           		<tr>
				           			<td>&nbsp;
				           			</td>
				           			<td>&nbsp;
				           			</td>
				           		</tr>
				           		<tr>
				        			<td>Name:</td>
				           			<td><input type="text" class="form-control" ng-model="supplier.name"></td>
				           		</tr> 
				           		
				           		<tr>
				           			<td>&nbsp;
				           			</td>
				           			<td>&nbsp;
				           			</td>
				           		</tr>
				           		
				           		<tr>
				           			<td>
				           				<a class="" ng-click="changeToChangePass()">
				                    	Change password
				                		</a>
				                	</td>
				                	<td>&nbsp;
				           			</td>
				             
				           		</tr>
				           		<tr>
				           			<td>&nbsp;
				           			</td>
				           			<td>&nbsp;
				           			</td>
				           		</tr>
				           		<tr>
				           			<td>&nbsp;
				           			</td>
				           			<td>&nbsp;
				           			</td>
				           		</tr>
				           		<tr>
				           			<td>&nbsp;
				           			</td>
				           			<td><button class="btn btn-theme" ng-click="update()" type="button">Save</button>
				           			</td>
				           		</tr>
				           			 
				            </table>	
			           	</div>
					
					
		           	</div>
					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                    
  
          </section>
      </section>

    
  </section>

</div>
